services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      TZ: Europe/Madrid
    volumes:
      - db-dev-estrimin:/var/lib/postgresql/data
    networks:
      - default
  mediamtx:
    # image: bluenviron/mediamtx
    build:
      context: .
      dockerfile: mediamtx.Dockerfile
      args:
        - MEDIAMTX_VERSION=v1.14.0
    environment:
      - MTX_WEBRTCADDITIONALHOSTS=${MTX_WEBRTCADDITIONALHOSTS}
      - TZ=Europe/Madrid
    volumes:
      - ./mediamtx.yml:/mediamtx.yml:ro # https://github.com/bluenviron/mediamtx/blob/main/mediamtx.yml
      - ./videos/recordings:/recordings/
    ports:
      - "9997:9997"
      - "8889:8889"
      - "8888:8888"
      - "8189:8189/udp"

volumes:
  db-dev-estrimin: