@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full;
}

:root {
  --primary-500: #3fcbfb;
  --primary-600: #04a1d7;
  --primary-700: #03739a;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
